nav {
  @apply bg-gray-900;

  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  a {
    @apply text-white;
    text-decoration: underline;
    text-underline-offset: 0.5rem;

    &:hover {
      @apply text-gray-200;
    }
  }
}

.content {
  padding: 1rem 2rem;
}

h1 {
  @apply text-3xl;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  @apply text-lg;
  line-height: 1.5;
}
