@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	color: rgb(217, 217, 217);
	background-color: rgb(15, 14, 14);
	color-scheme: dark;
	/* cursor: none; */
}

* {
	box-sizing: border-box;
}
